<header class="header">
    <div class="header__contact">
        <a class="header__contact-email" href="mailto:penzion@uvody.cz">penzion@uvody.cz</a>
        <span class="header__contact-phone">Tel. +420 123 456 789</span>
    </div>

    <div class="header__inner">
        <div class="header__left">
            <div class="header__logo">Penzion u vody</div>

            <div class="header__address">
                <img class="header__stars" src="/images/3stars.svg" alt="3 hvězdičky">
                Ulice 42, Městečko
            </div>
        </div>

        {% include "partials/menu.njk" %}

    </div>

    <div class="header__image"></div>
</header>