<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>

	<!-- Google Fonts: Raleway 400, Open Sans 400(i)/700(i) -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway&display=swap" rel="stylesheet">

	<!-- Naše vlastní CSS -->
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="wrapper">

		{% include "partials/header.njk" %}

		{% include "partials/main.njk" %}

		{% include "partials/footer.njk" %}

	</div><!-- .wrapper -->
</body>
</html>